<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <label for="role">Select Role:</label><br>

    <select name="role" required>
        <option value="1">Admin</option>
        <option value="2" selected>Operator</option>
    </select><br><br>

        <button type="submit">Register</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <p><a href="/login">Already have an account? Login here</a></p>
</body>
</html>